<div class="weadmin-body">
    <form class="layui-form">
        <input type="hidden" name="id" value="{$data['id']|default=''}">


        <div class="layui-form-item">
            <label class="layui-form-label"><span class="we-red">*</span>类别名称</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="type_name" value="{$data['type_name']|default=''}"
                       autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>

            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer', 'table'], function () {
        var form = layui.form,
            layer = layui.layer,
            table = layui.table;

        form.render();
        //监听提交
        form.on('submit(add)', function (data) {

            $.ajax({
                type: 'post',
                url: '/goods_type/edit',
                data: data.field,
                success: function (res) {
                    if (res.code == 200) {
                        layer.msg(res.msg, {icon: 6});
                        table.reload('Reload');
                        setTimeout('layer.closeAll()', 1500)
                        return false;
                    }
                    layer.msg(res.msg);
                },
            });
            return false;
        });
    });
</script>
